.contact-container {
  flex: 1;
  .container {
    background-color: white;
    margin: 80px auto 40px;
  }
  .link-container {
    display: flex;
    justify-content: space-between;
  }
  #exampleInputName{
    width: 40%;

  }
  #exampleInputEmail1{
    width: 40%;

  }
  #exampleInputMessage{
    width: 40%;
    height: 5em;
    padding-bottom:  2em;;

  }
  button {
    margin: 2em 2em 2em 0;
  }
  .form-group {
    margin-bottom: 1rem;
  }
}
